.div-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  flex-direction: column;
}
.box-form {
  flex-direction: column;
  display: flex;
  height: 40%;
  width: 40%;
  justify-content: center;
  align-items: center;
  background-color: khaki;
}
